.white-background--lined {
  height: auto;
  background-color: #fff;
  background-image: url(../images/back.svg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: contain;
}
