body { font-family: "Source Sans Pro"; }
body, html {
  height: 100%;
}

.section--title {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  &.white { color: white; }
}

.p-content {
  font-size: 1rem;
  line-height: 1.75;
}

.flex-container {
  display: flex;
}

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  &.parallax--home {
    background-color: #ededed;
    background-image: url('../images/homepage-background.jpeg');
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
  }
  &.parallax--services {
    background:
    linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url('../images/services-background.jpg') no-repeat fixed center / cover;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    padding-bottom: 5rem;
  }
}
.overlay {
  background-color: #222;
  opacity: .7;
  &.overlay--home {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
  &.overlay--services {
    height: 600px;
  }
}

.homepage-text {
  position: absolute;
  top: 14rem;
  text-align: center;
  width: 100%;
  z-index: 1000;
  div {
    font-family: 'Bitter';
    font-weight: 700;
    color: white;
    &:nth-of-type(1){
      font-size: 2rem;
      @media #{$tablet} {
        font-size: 4rem;
      }
    }
    &:nth-of-type(2){
      font-size: 1.5rem;
      color: $secondary-blue;
      @media #{$tablet} {
        font-size: 3rem;
      }
    }
  }
}

.homepage--about-me {
  @extend .white-background--lined;
  margin-top: -6rem;
  padding-top: 6rem;
  .profile-img {
    width: 50%;
    position: relative;
    top: -1rem;
    &.circle {
      border-radius: 50%;
    }
  }
}

.homepage--services {
  .card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: calc(#{$grid-gutter} * 2);
    .card-title {
      text-align: center;
    }
    .services-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      &.services-icon--design {
        background-image: url('../images/services/responsive_icon.svg');
      }
      &.services-icon--seo {
        background-image: url('../images/services/seo_icon.svg');
      }
      &.services-icon--hosting {
        background-image: url('../images/services/hosting_icon.svg');
      }
    }
  }
}

.homepage--my-work {
  @extend .white-background--lined;
  .my-work--image {
    width: 100%;
    max-width: 600px;
  }
  @media #{$desktop} {
    margin-bottom: 20rem;
  }
}

.footer {
  height: 20rem;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-overflow-scrolling: touch;
  @media #{$desktop} {
    position: fixed;
  }
  .title {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
  }
  .contact-area {
    @extend .inner-shadow;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 20px 30px;
    height: 100%;
    background: #e96443;
    background: $linear-grandient-blue;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    text-decoration: none;
  }
}
