@import url(../bower_components/normalize-css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Bitter:700");
/* Core Variables
  =========================================================================== */
.white-background--lined, .homepage--about-me, .homepage--my-work {
  height: auto;
  background-color: #fff;
  background-image: url(../images/back.svg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: contain; }

.inner-shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; }

.content-padding {
  padding: 1rem; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  overflow: auto; }

.row {
  margin: auto;
  max-width: 1200px;
  padding-left: 1rem;
  width: 100%; }
  .row.row--nested {
    padding-left: 0; }

.column {
  padding: 1rem;
  padding-left: 0 !important; }
  .column.column--nested {
    padding-top: calc((1rem) / 2);
    padding-bottom: calc((1rem) / 2); }
    @media all and (max-width: 40em) {
      .column.column--nested {
        padding-right: 0; } }
    @media all and (min-width: 40em) {
      .column.column--nested:last-of-type {
        padding-right: 0; } }
  .column.column--full, .column.column--three-fourths, .column.column--two-thirds, .column.column--half, .column.column--third, .column.column--fourth, .column.column--sixth, .column.column--eighth {
    width: 100%; }
  @media all and (min-width: 40em) {
    .column {
      float: left; }
      .column.flow-opposite {
        float: right; }
      .column.column--full {
        float: none;
        width: 100%; }
      .column.column--three-fourths {
        width: 75%; }
      .column.column--two-thirds {
        width: 66.666%; }
      .column.column--half {
        width: 50%; }
      .column.column--third {
        width: 33.333%; }
      .column.column--fourth {
        width: 25%; }
      .column.column--sixth {
        width: 16.666%; }
      .column.column--eighth {
        width: 12.5%; } }

.text-align-center {
  text-align: center; }

.no-margin--top {
  margin-top: 0 !important; }

.color-blue {
  color: #5497CC; }

@media all and (max-width: 40em) {
  .hide-on-mobile {
    display: none !important; } }

@media all and (min-width: 40em) {
  .hide-on-tablet {
    display: none !important; } }

@media all and (min-width: 64em) {
  .hide-on-desktop {
    display: none !important; } }

.no-scroll {
  overflow: hidden; }

body {
  font-family: "Source Sans Pro"; }

body, html {
  height: 100%; }

.section--title {
  font-size: 2.5rem;
  margin-top: 2.5rem; }
  .section--title.white {
    color: white; }

.p-content {
  font-size: 1rem;
  line-height: 1.75; }

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax.parallax--home {
    background-color: #ededed;
    background-image: url("../images/homepage-background.jpeg");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%; }
  .parallax.parallax--services {
    background-color: #ededed;
    background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../images/services-background.jpg") no-repeat scroll center/cover;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    padding-bottom: 5rem; }
    @media all and (min-width: 40em) {
      .parallax.parallax--services {
        background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("../images/services-background.jpg") no-repeat fixed center/cover; } }

.overlay {
  background-color: #222;
  opacity: .7; }
  .overlay.overlay--home {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
  .overlay.overlay--services {
    height: 600px; }

.homepage-text {
  position: absolute;
  top: 14rem;
  text-align: center;
  width: 100%;
  z-index: 1000; }
  .homepage-text div {
    font-family: 'Bitter';
    font-weight: 700;
    color: white; }
    .homepage-text div:nth-of-type(1) {
      font-size: 2rem; }
      @media all and (min-width: 40em) {
        .homepage-text div:nth-of-type(1) {
          font-size: 4rem; } }
    .homepage-text div:nth-of-type(2) {
      font-size: 1.5rem;
      color: #5BBEE7; }
      @media all and (min-width: 40em) {
        .homepage-text div:nth-of-type(2) {
          font-size: 3rem; } }

.homepage--about-me {
  margin-top: -6rem;
  padding-top: 6rem; }
  .homepage--about-me .profile-img {
    width: 50%;
    position: relative;
    top: -1rem; }
    .homepage--about-me .profile-img.circle {
      border-radius: 50%; }

.homepage--services .card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: calc(1rem * 2); }
  .homepage--services .card .card-title {
    text-align: center; }
  .homepage--services .card .services-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    transition: ease-out 0.3s; }
    .homepage--services .card .services-icon.services-icon--design {
      background-image: url("../images/services/responsive_hover.svg"); }
    .homepage--services .card .services-icon.services-icon--seo {
      background-image: url("../images/services/seo_hover.svg"); }
    .homepage--services .card .services-icon.services-icon--analytics {
      background-image: url("../images/services/analytics_hover.svg"); }
  .homepage--services .card.design:hover .services-icon--design {
    background-image: url("../images/services/responsive.svg");
    transform: scale(1.1); }
  .homepage--services .card.seo:hover .services-icon--seo {
    background-image: url("../images/services/seo.svg");
    transform: scale(1.1); }
  .homepage--services .card.analytics:hover .services-icon--analytics {
    background-image: url("../images/services/analytics.svg");
    transform: scale(1.1); }

.homepage--my-work .my-work--image {
  width: 100%;
  max-width: 600px; }
@media all and (min-width: 64em) {
  .homepage--my-work {
    margin-bottom: 20rem; } }
@media all and (min-width: 40em) {
  .homepage--my-work .rose-doula {
    float: right; } }

.footer {
  height: 20rem;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-overflow-scrolling: touch; }
  @media all and (min-width: 64em) {
    .footer {
      position: fixed; } }
  .footer .title {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1.2; }
  .footer .contact-area {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    padding: 20px 30px;
    height: 100%;
    background: #e96443;
    background: linear-gradient(to right, #5497CC 0%, #5BBEE7 100%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    text-decoration: none; }

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5497CC;
  color: white;
  cursor: pointer;
  padding: 0.7rem 1rem;
  border-radius: 4px; }
  .scroll-to-top:hover {
    background-color: #367eb7; }
  .scroll-to-top i {
    margin-top: -0.3rem; }

#navigation {
  position: absolute;
  z-index: 10000;
  width: 100%; }

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex-container.navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    align-items: center; }
    .flex-container.navigation a.link {
      text-decoration: none;
      color: white;
      font-weight: 400;
      border-radius: 5px;
      font-size: 1.2rem;
      transition: background-color 0.3s ease-out;
      margin: 0 1rem; }
      .flex-container.navigation a.link:hover {
        background-color: #5497CC;
        color: white; }
    .flex-container.navigation li {
      padding: 0.5rem 1rem; }
      .flex-container.navigation li.logo {
        margin-right: auto; }
        @media all and (min-width: 40em) {
          .flex-container.navigation li.logo {
            margin-right: 0; } }
      .flex-container.navigation li .nav-logo {
        width: 100px;
        background-color: white;
        padding: 0.5rem;
        border-radius: 10px; }
    .flex-container.navigation.navigation--mobile {
      flex-direction: row;
      flex-wrap: wrap; }
      .flex-container.navigation.navigation--mobile a {
        width: 100%;
        text-align: center;
        font-size: 2rem; }

.burger {
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
  .burger__patty {
    width: 28px;
    height: 3px;
    margin: 0 0 4px 0;
    background: white;
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .burger__patty:last-child {
      margin-bottom: 0; }
  .burger--close {
    transform: rotate(180deg); }
    .burger--close .burger__patty:nth-child(1) {
      transform: rotate(45deg) translate(6px, 5px); }
    .burger--close .burger__patty:nth-child(2) {
      opacity: 0; }
    .burger--close .burger__patty:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -4px); }

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #5497CC 0%, #5BBEE7 100%);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  z-index: 2; }
  aside.open {
    opacity: 1;
    visibility: visible; }

@-webkit-keyframes typing {
  from {
    width: 0; } }
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent; } }
.typing-text {
  border-right: .1em solid white;
  width: 18.7rem;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(20, end), blink-caret 0.5s step-end infinite alternate; }
  @media all and (min-width: 40em) {
    .typing-text {
      width: 37.5rem; } }

/* Actions Variables
  =========================================================================== */
/* Actions Extendables
  =========================================================================== */
.button, button, input[type='submit'], input[type='reset'] {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 50ms ease-in-out; }
  .button:first-of-type, button:first-of-type, input[type='submit']:first-of-type, input[type='reset']:first-of-type {
    margin-left: 0; }
  .button:last-of-type, button:last-of-type, input[type='submit']:last-of-type, input[type='reset']:last-of-type {
    margin-right: 0; }
  .button:hover, button:hover, input[type='submit']:hover, input[type='reset']:hover {
    transition: all .1s ease-in-out; }

/* Actions Styles
  =========================================================================== */
.button, button, input[type='submit'], input[type='reset'] {
  border-radius: 5px;
  -webkit-font-smoothing: auto;
  font-weight: 600;
  margin: 0.05rem 0.25rem;
  padding: 0.75rem 1rem;
  text-align: center; }
  @media all and (min-width: 40em) {
    .button, button, input[type='submit'], input[type='reset'] {
      display: inline-block;
      padding: 0.5rem 1rem;
      padding-top: 0.45rem; } }
  .button[disabled], .button.disabled, .button.button--disabled, button[disabled], button.disabled, button.button--disabled, input[type='submit'][disabled], input[type='submit'].disabled, input[type='submit'].button--disabled, input[type='reset'][disabled], input[type='reset'].disabled, input[type='reset'].button--disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none; }
  .button.button-block, button.button-block, input[type='submit'].button-block, input[type='reset'].button-block {
    display: block !important;
    width: 100%; }
  .button.button--primary, button.button--primary, input[type='submit'].button--primary, input[type='reset'].button--primary {
    background-color: #5497CC;
    color: white;
    border: 2px solid #5497CC; }
    .button.button--primary:hover, button.button--primary:hover, input[type='submit'].button--primary:hover, input[type='reset'].button--primary:hover {
      background-color: #367eb7;
      border: 2px solid #367eb7; }
  .button.button--border, button.button--border, input[type='submit'].button--border, input[type='reset'].button--border {
    background-color: transparent;
    color: #5497CC; }
    .button.button--border:hover, button.button--border:hover, input[type='submit'].button--border:hover, input[type='reset'].button--border:hover {
      color: white;
      background-color: #5497CC;
      border: 2px solid #5497CC; }
  .button.button--transparent, button.button--transparent, input[type='submit'].button--transparent, input[type='reset'].button--transparent {
    background-color: transparent;
    border: 2px solid #5497CC; }
    .button.button--transparent.white, button.button--transparent.white, input[type='submit'].button--transparent.white, input[type='reset'].button--transparent.white {
      border: 2px solid white;
      color: white; }
  .button.button--large, button.button--large, input[type='submit'].button--large, input[type='reset'].button--large {
    padding: 1rem;
    font-size: 1.2rem; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  padding-bottom: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }
  @media all and (min-width: 40em) {
    .modal-content {
      width: 75%; } }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0.5rem;
  background-color: #ededed;
  border-radius: 50%;
  margin: 0.8rem 0;
  padding: 0.7rem;
  line-height: 1.3rem; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border-bottom: 2px solid #ededed; }

.modal-body {
  padding: 0.5rem 1rem; }

.modal-footer {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border-top: 2px solid #ededed; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }
  fieldset label {
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    text-align: left; }
    fieldset label.inline {
      font-size: 1rem;
      display: inline-block;
      font-weight: normal;
      cursor: pointer; }
  fieldset select, fieldset textarea, fieldset input[type="date"], fieldset input[type="time"], fieldset input[type="email"], fieldset input[type="month"], fieldset input[type="number"], fieldset input[type="password"], fieldset input[type="tel"], fieldset input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 2px solid #ededed;
    border-radius: 5px;
    font-size: 1rem;
    max-width: 100%;
    padding: 0.6rem;
    width: 100%; }
    fieldset select:focus, fieldset textarea:focus, fieldset input[type="date"]:focus, fieldset input[type="time"]:focus, fieldset input[type="email"]:focus, fieldset input[type="month"]:focus, fieldset input[type="number"]:focus, fieldset input[type="password"]:focus, fieldset input[type="tel"]:focus, fieldset input[type="text"]:focus {
      border-color: #5497CC;
      outline-color: transparent;
      outline-style: none; }
  fieldset input[type=checkbox],
  fieldset input[type=radio] {
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.5rem; }
  fieldset textarea {
    resize: vertical; }
  fieldset select {
    cursor: pointer; }
  fieldset .input--add-on {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    fieldset .input--add-on .add-on--field,
    fieldset .input--add-on .add-on--before,
    fieldset .input--add-on .add-on--after {
      width: auto;
      flex-grow: 1; }
    fieldset .input--add-on .add-on--field,
    fieldset .input--add-on .add-on--before {
      border-radius: 5px 0 0 5px;
      border-right: none; }
    fieldset .input--add-on .add-on--after {
      border-radius: 0 5px 5px 0; }
    fieldset .input--add-on select.add-on--after,
    fieldset .input--add-on select.add-on--before {
      padding-right: 2rem;
      flex: none; }

/*# sourceMappingURL=app.css.map */
